/* .App {
  text-align: center;
  flex-direction: row;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
} */

.wrapper {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border: solid black;
  justify-content: flex-start;
  background-color: #282c34;

}
.nav-bar{
  display: flex;
  flex-direction: column;
}
.nav-bar-btn{
  margin-bottom: 40rem;
}
